.dashboard-container {
  width: 100%;
  height: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .h2 {
    font-size: 1.8vw;
    color: #292c2e;
    text-align: left;
  }
  .search-seciton {
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .db-search {
      width: 25%;
      height: 100%;
      border-radius: 9999px;
      border: 1px solid #d5d5d5;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0;
      margin-top: 0.5vw;
      background-color: #f5f6fa;
      svg {
        font-size: 1vw;
      }
      input {
        height: 90%;
        width: 90%;
        padding: 0vw 1vw;
        outline: none;
        border: none;
        font-size: 1.1vw;
        font-family: "Nunito Sans", sans-serif;
        background-color: transparent;
      }
    }
    .add-plot {
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 999vw;
      cursor: pointer;
      margin-right: 1vw;
      font-size: 1.2vw;
      background-color: #00817f;
    }
  }

  .addPlot-wrapper{
    position: absolute;
    margin-top: 5vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3vw;
    background-color: rgba(0, 0, 0, 0.616);
    // display: none;
  
    // border: 1px solid red;
    z-index: 2;
  }
  .db-data-wrapper {
    position: relative;
    width: 100%;
    margin-top: 1vw;
    // border: 1px solid red;
    height: 85%;
    // overflow-y: scroll;
    .data-heading {
      // position: sticky;
      // top: 0;
      border-radius: 999vw;
      width: 100%;
      padding: 1vw 0vw;
      background-color: #f1f4f9;
      display: flex;
      align-items: center;
      justify-content: center;
      .plot-number,
      .activity,
      .location,
      .time,
      .status {
        font-size: 1.1vw;
        // border: 1px solid red;
      }
      .plot-number {
        width: 10%;
      }
      .location {
        width: 25%;
        text-align: center;
      }
      .time {
        text-align: center;
        width: 15%;
      }
      .status {
        text-align: center;
        width: 15%;
      }
      .activity {
        text-align: center;
        width: 30%;
      }
    }
    .db-datas {
      width: 100%;
      height: 100%;
      .db-data {
        width: 100%;
        height: 14%;
        border-bottom: 1px solid rgba(211, 211, 211, 0.384);
        display: flex;
        align-items: center;
        justify-content: center;
        .data-number {
          width: 10%;
          display: flex;
          align-items: center;
          font-size: 1.2vw;
          justify-content: space-between;
        }
        .data-location {
          width: 25%;
          text-align: center;
          font-size: 1.2vw;
        }
        .data-time {
          text-align: center;
          width: 15%;
          font-size: 1.2vw;
        }
        .data-status {
          text-align: center;
          width: 15%;
          button {
            width: 50%;
            padding: 0.3vw 1vw;
            border: none;
            color: white;
            text-transform: capitalize;
            font-family: "Nunito Sans", sans-serif;

            font-size: 1.1vw;
            background-color: #00817f;
            border-radius: 999vw;
          }
        }
        .data-activity {
          text-align: center;
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.5vw;
          .a-view, .a-delete, .a-copy, .a-download{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.2vw;
            cursor: pointer;
            svg{
              font-size: 1.2vw;
              line-height: 1;
            }
            span{
              font-size: 1.1vw;
            }
          }
        }
      }
    }
  }
}
